
<% include ./partials/header %>

<div class="container">

    <% if(!locals.user) { %>
        <h1 id="hero">What the Duck</h1>
    <% } else { %>
        <div id="welcome">
            <p>Welcome <%= user.username %></p>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Add a bird</button>
        <section>
        <div>
            <br>
        </div>
        </section>
        <div class="box">
            <h3>My List of Birds</h3>
<!-- Start of user's birds. -->
            <div id="userBirdList" class="col-md-4">
            <%for(var x=userBirds.length-1; x>=0;x--){%>
              <% var bird= userBirds[x] %>
              <% include ./partials/userBird %>
            <% } %>
            </div>
<!-- End of user's birds. -->
            <div>
                <div id="map"></div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Birds</h4>
                      <input type="text" class="locationText" placeholder="** Sighting address       required. **">
                    </div>
                    <div class="modal-body">
                        <div class="row">
                        <%for(var i=0;i<birds.length;i++){%>
                            <div class="col-xs-6 col-md-4">
                                <div class="thumbnail">
                                    <img class="thumbnailImage" src="<%= birds[i].images[0].url %>">
                                    <div class="caption">
                                        <h4><%= birds[i].name %></h4>
                                        <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                            <button type="button" class="btn-add btn btn-default btn-left" data-birdId="<%= birds[i]._id %>"> ADD </button>
                                            <button type="button" class="btn btn-default btn-right">ALT VIEW</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
</div>
<% if(locals.user){ %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTx6HnaOWxCy2LitrHA0qX1oSkwwUFcpg&signed_in=true&callback=initMap" async defer></script>
<script>
    // google maps does not like to be inside of document ready function!!
    function initMap(){
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: {lat: 30.2500, lng: -97.7500},
            mapTypeId: google.maps.MapTypeId.SATELLITE,
        });
        var sightings = <%- JSON.stringify(userBirds) %>;
        for(var x = 0; x < sightings.length; x++){
            var latlng = new google.maps.LatLng(sightings[x].lat, sightings[x].lng);
            var image = {url: sightings[x].birdImage, scaledSize: new google.maps.Size(20, 20)};
            var marker = new google.maps.Marker({
                map: map,
                position: latlng,
                title: sightings[x].birdName,
                icon: image
            });
        }
    };

    $(document).ready(function(){

        function addButtonKillHandeler (selector){
            $(selector).click(function(event){
                var id = event.target.id;
                $.ajax({
                    url: '/killSighting',
                    method: "POST",
                    data: {id:id},
                }).done(function(){
                    var classId = "."+id;
                    $(classId).remove();
                    // else Alert ("Couldn't kill the bird!");
                });
            });
        };

        $('.btn-add').click(function(){
            var title = $(this).parent().prev().text().trim();
            var image = $(this).parent().parent().prev('img').attr('src');
            var birdId = $(this).attr("data-birdId");
            var location = $(".locationText").val();
            $.ajax({
                url: '/newSighting',
                method: "POST",
                data: {
                    birdId: birdId,
                    title: title,
                    birdImage: image,
                    location: location
                },
            }).done(function(sighting){
                console.log(sighting);
                $("#userBirdList").prepend(sighting.html);
                addButtonKillHandeler('#'+ sighting._id);
                var latlng = new google.maps.LatLng(sighting.lat, sighting.lng);
                var image = {url: sighting.birdImage, scaledSize: new google.maps.Size(20, 20)};
                var marker = new google.maps.Marker({
                    map: map,
                    position: latlng,
                    title: sighting.birdName,
                    icon: image
                });
            });
        });

        addButtonKillHandeler('.btn-kill');

    });
</script>
<% }; %>
<% include ./partials/footer %>
